@CHARSET "UTF-8";

body {
	/* min-width: 1100px; */
	overflow-x: hidden;
}

a:focus {
	outline: none;
}

.main {
	padding-left: 10px;
	/* min-width: 1100px; */
	overflow-x: auto;
}

.title-div {
	width: 180px;
	height: 60px;
	float: left;
	margin-left: 10px;
	color: #FFF;
	font-size: 32px;
	line-height: 60px;
	cursor: pointer;
}

.animation-year {
	width: 100%;
	height: 30px;
	float: left;
	font-size: 24px;
	line-height: 30px;
}

.animation-type {
	width: 100%;
	height: 30px;
	float: left;
	font-size: 22px;
	line-height: 30px;
}

.animation {
	position: relative;
	width: 196px;
	height: 171px;
	margin: 5px 6px;
	float: left;
	/* border: 1px solid #e2e2e2; */
	color: #000;
	display: block;
	background-color: #FFF;
}

.animation-info {
	cursor: pointer;
	transition: .2s;
}

.animation-info:hover {
	color: #1E9FFF;
}

.animation-poster {
	width: 192px;
	height: 108px;
	margin: 2px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	display: block;
}

.animation-poster-text {
	position: relative;
	line-height: 108px;
	text-align: center;
	margin: 0 auto;
}

.animation-name {
	padding: 1px;
	font-size: 12px;
}

.animation-date {
	float: left;
	width: 154px;
	padding: 1px 0px 1px 1px;
	font-size: 12px;
}

.animation .edit-div {
	width: 40px;
	height: 19px;
	color: #FFF;
	line-height: 19px;
}

.animation .edit-list {
	width: 80px;
	position: relative;
	float: right;
	top: 3px;
	background-color: #fff;
	border: 1px solid #e5e9ef;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .14);
	color: #000;
	z-index: 1;
}

hr {
	FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9, strength=10);
	width: 100%;
	size: 1;
	color: #987cb9;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.marginT50 {
	margin-top: 50px;
}

.marginT10 {
	margin-top: 10px;
}

.marginT20 {
	margin-top: 20px;
}

.marginL500 {
	margin-left: 55%;
}

.marginL10 {
	margin-left: 10px;
}

.marginL20 {
	margin-left: 20px;
}

.minW {
	min-width: 860px;
}